<a href="https://colab.research.google.com/github/JosePabloGFnl/Redes-Neuronales-Artificiales/blob/main/EjercicioEnClase15-02/EjercicioEnClase15_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Este ejemplo se hizo en la clase síncrona para solucionar un problema:
#Filtrar los datos basándonos en meses.
#Nota: obtuve puntos extras porque se me ocurrió esto en el salón :)

#-------Código original------
#import pandas
#import numpy as np
#import copy
#import matplotlib.pyplot as plt

#data=np.array(['ETH-USDweekly015019.csv'])
#d = pandas.read_csv(data[0])
#d.head()
#d0 = d.values

#x = d0[:, 4]
#--------------------------

import pandas as pd
import numpy as np
import copy
import matplotlib.pyplot as plt


df=pd.read_csv('BTC-USDweekly015019.csv')

df

df[df['Date'].str.contains("-01-")]

           Date          Open  ...     Adj Close        Volume
0    2015-01-01    320.434998  ...    294.337006     196656000
1    2015-01-08    294.135010  ...    178.102997     261529108
2    2015-01-15    176.897003  ...    226.897003     246383304
3    2015-01-22    227.322006  ...    233.914993     312076700
4    2015-01-29    233.348007  ...    226.852997     209285400
53   2016-01-07    430.010986  ...    432.371002     542774100
54   2016-01-14    432.287994  ...    420.230011     585911808
55   2016-01-21    419.631989  ...    394.971985     435590600
56   2016-01-28    395.145996  ...    369.949005     351520696
105  2017-01-05   1156.729980  ...    777.757019    1868954016
106  2017-01-12    775.177979  ...    886.617981    1018898096
107  2017-01-19    888.335022  ...    901.541992     725853000
108  2017-01-26    902.395020  ...    989.023010     780302596
157  2018-01-04  15270.700195  ...  14973.299805  133379399680
158  2018-01-11  14968.200195  ...  11188.599609  102882699264
159  2018-01-18  11198.799805  ...  11359.400391   77636679680
160  2018-01-25  11421.700195  ...  10221.099609   58339379200
209  2019-01-03   3931.048584  ...   4035.296387   35763942117
210  2019-01-10   4034.411377  ...   3655.006836   38455363947
211  2019-01-17   3651.871094  ...   3585.123047   37757289314
212  2019-01-24   3584.500244  ...   3486.181641   39958855389
213  2019-01-31   3485.409180  ...   3413.767822   37412150632

[22 rows x 7 columns]